
############################################################################
# Power10k
############################################################################

if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

ZSH_THEME="powerlevel10k/powerlevel10k"
source ~/powerlevel10k/powerlevel10k.zsh-theme

[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh


############################################################################
# ZSH
############################################################################

plugins=(
  git
  poetry
  zsh-autosuggestions
  zsh-syntax-highlighting
)

source $HOME/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source $HOME/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

export ZSH="$HOME/.oh-my-zsh"
source $ZSH/oh-my-zsh.sh


fpath+=${ZDOTDIR:-~}/.zsh_functions

zstyle ':omz:update' mode disabled


############################################################################
# Export PATH and envs
############################################################################

[ -f "$HOME/.envs" ] && source $HOME/.envs


############################################################################
# CLI tools
############################################################################

# Terminal history (atuin)
eval "$(atuin init zsh)"


############################################################################
# Functions
############################################################################

[ -f "$HOME/.functions" ] && source $HOME/.functions

############################################################################
# Aliases
############################################################################

[ -f "$HOME/.aliases" ] && source $HOME/.aliases

############################################################################
# Load Secrets
############################################################################

[ -f "$HOME/.secrets" ] && source "$HOME/.secrets"


############################################################################
# LF Icons
############################################################################

[ "$HOME/.config/lf/zsh_icons" ] && source $HOME/.config/lf/zsh_icons